doctype html5
html
	head
		link(rel="stylesheet", href="first.css")
		title= t("title1")
		
	body
		h5= t("title0")
		h1= t("title1")
		p
			a(href="https://docs.google.com/document/d/1BjqkJ2OBo47FrYEVMpwbxoaB-GOSuUFA1wktSfEJQe0/edit?usp=sharing")= t("booklet")
		p
			a(href="/town_list")= t("townList")
		p
			a(href="/new_town")= t("newTown1")
		p
			a(href="/login")= t("login")
			&nbsp;
			a(href="/signup")= t("signup")
		
		p
			| Language:&nbsp;
			a(href="/lang/en") English
			| &nbsp;-&nbsp;
			a(href="/lang/es") Español