doctype html
html

	head
		title
				!= t("title1")
				&nbsp;-&nbsp;
				!= t("login")
	
	body
		h1= t("login")
		p= t("currentUser")
			span :&nbsp;#{username}
		#login-form
			form(method="post", action="login")
				div
					label= t("Username")
					input(type="text", name="username", id="form-username")
				div
					label= t("Password")
					input(type="password", name="password", id="form-password")
				div
					input(type="submit")
					
		p= t("newUser")
			&nbsp;
			a(href="/signup")= t("signup")