doctype html5
html
	head
		title Then Let's Survive - #{profile[0]}'s profile
		
	body
		h3 #{profile[0]}'s profile
		p #{profile[1]}
		p Location: #{profile[2]}
		p
			a(href="#{profile[3]}") #{profile[3]}
		p Played last time: #{profile[4]}