doctype html
html
	head
		title
				!= t("title1")
				&nbsp;-&nbsp;
				!= t("signup")
		
	body
		h1= t("signup")
		h4 #{message}
		#register-form
			form(method="post", action="signup")
				h4= t("mandatoryInfo")
				div
					label= t("Username")
					input(type="text", maxlength="16", name="username", id="form-username", required)
				div
					label= t("fullName")
					input(type="text", maxlength="32", name="fullName", id="form-fullName", required)
				div
					label= t("email")
					input(type="email", maxlength="64", name="email", id="form-email", required)
				div
					label= t("Password")
					input(type="password", maxlength="16", name="password", id="form-password", required)
				div
					label= t("passwordAgain")
					input(type="password", maxlength="16", id="form-password2", required)
				h4= t("optionalInfo")
				div
					label= t("Bio")
					input(type="text", placeholder=t("Bio1"), maxlength="140", name="bio", id="form-bio")
				div
					label= t("URL")
					input(type="url", placeholder=t("URL1"), maxlength="140", name="url", id="form-url")
				div
					label= t("Location")
					input(type="text", placeholder=t("Location1"), maxlength="64", name="location", id="form-location")
				div
					input(type="submit")
		
		p= t("didYouSignUp")
			a(href="/login")= t("login")