include ./header.jade

link(rel="stylesheet", href="/jquery.bootstrap-touchspin.min.css")
script(src="/jquery.bootstrap-touchspin.min.js")
script(src="/json.js")

		
#container.container
		h6.instructions
			a(href="https://docs.google.com/document/d/1BjqkJ2OBo47FrYEVMpwbxoaB-GOSuUFA1wktSfEJQe0/edit?usp=sharing")= t("booklet")
		.tryAgain
			p= t("gameOver")
			p
				a(href="/new_town")= t("tryAgain")
		#reports-frame.reports-small
				div#reports-expand.glyphicon.glyphicon-resize-full
				p#reports
		#controls
			form(method="post")#mainForm
				.row
						.col-md-2
				
						
								h3
									= t("Week")
									| &nbsp;
									span#week 0
						
								h4
									= t("Score")
									| &nbsp;
									span#score ...
						
								h5
									= t("Inhabitants")
									| &nbsp;
									span#inhabitants 0
						
								h5
									= t("Idles")
									| &nbsp;
									span#idles 0
						
								h5
									= t("Sheeps")
									| &nbsp;
									span#sheeps 0
									br
									button(id="killSheep", class="btn btn-danger btn-xs")= t("Butcher")
						.col-md-10
								.row
										.col-md-6
												table.controls
														tr
																td.labels
																		label.controls= t("Gatherers")
																td.inputs
																		p.inputs
																				input(type="number", name="gatherers", id="gatherers_control", class="input-lg")
																				a(href="#", data-toggle="popover", data-content=t("gatherersTip"), data-trigger="focus", data-placement="top")
																						span.glyphicon.glyphicon-question-sign
																		p.counters
																				= t("Food")
																				| &nbsp;
																				span#food 0
																td.emptiness
																
										.col-md-6
												table.controls
														tr
																td.labels
																		label.controls= t("Builders")
																td.inputs
																		p.inputs
																				input(type="number", name="builders", id="builders_control", class="input-lg")
																				a(href="#", data-toggle="popover", data-content=t("buildersTip"), data-trigger="focus", data-placement="top")
																						span.glyphicon.glyphicon-question-sign
																		p.counters
																				= t("Structure")
																				| &nbsp;
																				span#structure 0
																td.emptiness
								.row
										.col-md-6
												table.controls
														tr
																td.labels
																		label.controls= t("Defenders")
																td.inputs
																		p.inputs
																				input(type="number", name="defenders", id="defenders_control", class="input-lg")
																				a(href="#", data-toggle="popover", data-content=t("defendersTip"), data-trigger="focus", data-placement="top")
																						span.glyphicon.glyphicon-question-sign
																		p.counters
																				= t("Safety")
																				| &nbsp;
																				span#safety 0
																td.emptiness
										.col-md-6
												table.controls
														tr
																td.labels
																		label.controls= t("Cleaners")
																td.inputs
																		p.inputs
																				input(type="number", name="cleaners", id="cleaners_control", class="input-lg")
																				a(href="#", data-toggle="popover", data-content=t("cleanersTip"), data-trigger="focus", data-placement="top")
																						span.glyphicon.glyphicon-question-sign
																		p.counters
																				= t("Garbage")
																				| &nbsp;
																				span#garbage 0
																				| %
																td.emptiness
								.row
										.col-md-6
												.checkbox.final-controls
														label
																input(type="checkbox", name="allowForeigners", id="allowForeigners_control")
																= t("allowForeigners")
										.col-md-6.final-controls
												.final-controls
														input(type="hidden", id="town_id", name="town_id", value="#{town_id}")
														button(id="next_week", class="btn btn-success")= t("endTurn")
				
		
			
#cover-animation
audio#sound-bell(src="/bell.ogg", preload="auto")
audio#sound-ticktock(src="/ticktock.ogg", preload="auto")