doctype html
html

	head
		title= t("title1")
		link(rel="stylesheet", href="default.css")
		script(src="jquery.min.js")
		script(src="json.js")
		
	body
		h1= t("title1")
		h6.instructions
			a(href="https://docs.google.com/document/d/1BjqkJ2OBo47FrYEVMpwbxoaB-GOSuUFA1wktSfEJQe0/edit?usp=sharing")= t("booklet")
		.tryAgain
			p= t("gameOver")
			p
				a(href="/new_town")= t("tryAgain")
		#controls
			form(method="post")#mainForm
				h5
					!= t("Week")
					| &nbsp;
					span#week 0
				h5
					!= t("Score")
					| &nbsp;
					span#score ...
				h6
					!= t("Inhabitants")
					| &nbsp;
					span#inhabitants 0
				h6
					!= t("Idles")
					| &nbsp;
					span#idles 0
				h6
					!= t("Sheeps")
					| &nbsp;
					span#sheeps 0
					button(id="killSheep")= t("Butcher")
					
				div
					label= t("Gatherers")
					input(type="number", name="gatherers", id="gatherers_control")
					!= t("Food")
					| &nbsp;
					span#food 0
				div
					label= t("Builders")
					input(type="number", name="builders", id="builders_control")
					!= t("Structure")
					| &nbsp;
					span#structure 0
				div
					label= t("Defenders")
					input(type="number", name="defenders", id="defenders_control")
					!= t("Safety")
					| &nbsp;
					span#safety 0
				div
					label= t("Cleaners")
					input(type="number", name="cleaners", id="cleaners_control")
					!= t("Garbage")
					| &nbsp;
					span#garbage 0
					| %
				div
					label= t("allowForeigners")
					input(type="checkbox", name="allowForeigners", id="allowForeigners_control")
				input(type="hidden", id="town_id", name="town_id", value="#{town_id}")
				button(id="next_week")= t("endTurn")
				
		#reports
			