include ./header.jade
		
#container.container
		h6.instructions
			a(href="https://docs.google.com/document/d/1BjqkJ2OBo47FrYEVMpwbxoaB-GOSuUFA1wktSfEJQe0/edit?usp=sharing")= t("booklet")
		.tryAgain
			p= t("gameOver")
			p
				a(href="/new_town")= t("tryAgain")
		#controls
			form(method="post")#mainForm
				.row
						.col-sm-3
								h5
									= t("Week")
									| &nbsp;
									span#week 0
						.col-sm-3
								h5
									= t("Score")
									| &nbsp;
									span#score ...
						.col-sm-2
								h6
									= t("Inhabitants")
									| &nbsp;
									span#inhabitants 0
						.col-sm-2
								h6
									= t("Idles")
									| &nbsp;
									span#idles 0
						.col-sm-2
								h6
									= t("Sheeps")
									| &nbsp;
									span#sheeps 0
									button(id="killSheep")= t("Butcher")
					
				.row
						.col-sm-3
							label= t("Gatherers")
							input(type="number", name="gatherers", id="gatherers_control")
							a(href="#", data-toggle="popover", title=t("Gatherers"), data-content=t("gatherersTip"), data-trigger="focus", data-placement="top")
								span.glyphicon.glyphicon-question-sign
							= t("Food")
							| &nbsp;
							span#food 0
						.col-sm-3
							label= t("Builders")
							input(type="number", name="builders", id="builders_control")
							a(href="#", data-toggle="popover", title=t("Builders"), data-content=t("buildersTip"), data-trigger="focus", data-placement="top")
								span.glyphicon.glyphicon-question-sign
							= t("Structure")
							| &nbsp;
							span#structure 0
						.col-sm-3
							label= t("Defenders")
							input(type="number", name="defenders", id="defenders_control")
							a(href="#", data-toggle="popover", title=t("Defenders"), data-content=t("defendersTip"), data-trigger="focus", data-placement="top")
								span.glyphicon.glyphicon-question-sign
							= t("Safety")
							| &nbsp;
							span#safety 0
						.col-sm-3
							label= t("Cleaners")
							input(type="number", name="cleaners", id="cleaners_control")
							a(href="#", data-toggle="popover", title=t("Cleaners"), data-content=t("cleanersTip"), data-trigger="focus", data-placement="top")
								span.glyphicon.glyphicon-question-sign
							= t("Garbage")
							| &nbsp;
							span#garbage 0
							| %
				.row
						.col-sm-6
							label= t("allowForeigners")
							input(type="checkbox", name="allowForeigners", id="allowForeigners_control")
						input(type="hidden", id="town_id", name="town_id", value="#{town_id}")
						button(id="next_week")= t("endTurn")
				
		#reports
			