include ./header.jade
		
#container.container
		h1= t("title1")
		h6.instructions
			a(href="https://docs.google.com/document/d/1BjqkJ2OBo47FrYEVMpwbxoaB-GOSuUFA1wktSfEJQe0/edit?usp=sharing")= t("booklet")
		h5
			= t("Week")
			| &nbsp;#{contents.week}
		h6
			= t("Inhabitants")
			| :&nbsp;#{contents.inhabitants}
		h6
			= t("Sheeps")
			| :&nbsp;#{contents.sheeps}
		h4
			= t("Supplies")
			| :
		h6
			= t("Food")
			| :&nbsp;#{contents.food}
		h6
			= t("Structure")
			| :&nbsp;#{contents.structure}
		h6
			= t("baseSafety")
			| :&nbsp;#{contents.baseSafety}&nbsp;+&nbsp;
			= t("extraSafety")
			| :&nbsp;#{contents.extraSafety}
		h6
			= t("Garbage")
			| :&nbsp;#{contents.garbage}%
		h4
			= t("Workers")
			| :
		h6
			= t("Gatherers")
			| :&nbsp;#{contents.gatherers}
		h6
			= t("Builders")
			| :&nbsp;#{contents.builders}
		h6
			= t("Defenders")
			| :&nbsp;#{contents.defenders}
		h6
			= t("Cleaners")
			| :&nbsp;#{contents.cleaners}
